<?xml version="1.0"?>
<robot name="helix_description" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find helix_description)/urdf/helix.materials.xacro" />
  
  <xacro:include filename="$(find helix_description)/urdf/motor_head.xacro" />
  <xacro:include filename="$(find helix_description)/urdf/helix.ros2_control.xacro" />
  <xacro:include filename="$(find helix_description)/urdf/helix_arm.xacro"  />

  <link name="origin"/>

  <xacro:helix_ros2_control name="helix_ros2_control" />

  <xacro:motor_head parent="origin">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:motor_head>
  
  <joint name="arm_to_origin" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="3.1416 0 0"/>
    <parent link="origin"/>
    <child link="arm_base"/>
  </joint>

</robot>